# Requirements for running the ML models, the Jupyter Notebooks, and the Streamlit app
jupyter
matplotlib
numpy
pandas
pickleshare
python>=3.9,<4.0
seaborn
streamlit==1.27.2

##### Machine Learning packages
scikit-learn

# Optional:
ydata_profiling